/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common styles and utilities*/
*{
    margin: 0;
}
body{
    /* width: 1920px; */
    font-family: 'Work Sans', sans-serif;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
}
.btn-primary {
    width: 180px;
    height: 64px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 24px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
}

/* header styles */
header{
    /* max-width: 1920px; */
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
nav {
    display: flex;
    gap: 633px;
    align-items: center;
    justify-content: center;
}
.logo-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 477px;
    height: 26px;
    margin-top: 63px;
}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
nav li a{
    text-decoration: none;
}

.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.banner-info{
    width: 862px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.banner-description {
    color: #727272;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.banner-image img{
    display: block;
    height: 700px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* feature list section style  */
.features-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 85px;
}
.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.feature-images img{
    width: 100%;
}
.feature-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 537px;
    height: 304px;
}
.feature-list-title {
    height: 106px;
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.feature-list-title span{
    font-weight: 700;
}
.feature-list-description {
    height: 78px;
    color: #727272;
    margin-top: 24px;
}
.feature-list .btn-primary {
    margin-top: 32px;
}

/* feature details section style  */
.feature-details-container {
    height: 1059px; 
    margin-top: 130px;
    display: flex;
    /* gap: 54px; */
    justify-content: center;
    align-items: center;
}
.feature-detail-info{
    margin-top: 80px;
}
.feature-detail-title-container {
    display: flex;
    gap: 21px;
}
.css-rectangle {
    width: 5px;
    height: 106px;
    background: #FF900E;
}
.feature-detail-info-title {
    width: 468px;
    height: 106px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.feature-detail-info-description {
    width: 586px;
    height: 78px;
    color: #727272;
    margin-top: 24px;
}
.feature-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.feature-detail {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-detail-title{
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    padding: 30px 33px;
}
.feature-detail-description{
    color: #727272;
    margin-left: 30px;
}
.feature-experience-image img{
    width: 708px;
    height: 982px;
    margin-left: 146px;
    margin-bottom: 40px;
}
.translate-btn {
    padding: 40px;
    position: absolute;
    translate: 54px -155px;
    width: 342px;
    height: 200px;
}
button h3 {
    font-weight: 700;
    font-size: 65px;
}

button p{
    font-weight: 500;
    font-size: 25px;
}

/* facts section style  */
.facts-container{
    margin-top: 130px;
}
.facts-info{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.facts-info-title{
    /* width: 258px; */
    height: 53px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: left;
}
.facts-info-description{
    color: #727272;
    width: 542px;
    height: 52px;
    text-align: justify;
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts{
    display: flex;
    justify-content: center;
    gap: 124px;
}
.fact{
    width: 241.83px;
    height: 241.83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fact:hover{
    background: rgba(255, 144, 14, 0.1);
    border: 0;
    transform: scale(1.3); 
    transition: all .5s ease-in-out;
}
.fact-title{
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
}
.fact-info{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}

/* sponsors section style  */
.sponsor-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}
.sponsor-info-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.sponsor-info-description{
    color: #727272;
    text-align: center;
    margin-top: 24px;
}
.sponsor-container{
    margin-top: 50px;
}
.sponsors{
    display: flex;
    justify-content: center;
    gap: 124px;
}
.sponsor img:hover{
    filter: none;
    filter: grayscale(0);
    transform: scale(1.5);
}
.sponsor img{
    width: 165.83px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
}

/* client reviews section style  */
.client-reviews-info{
    width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}
.client-review-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.client-review-description{
    color: #727272;
    text-align: center;
    margin-top: 24px;
}
.clients{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}
.client{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 30px;
    padding: 10px;
}
.client-info{
    padding: 15px;
}
.client img{
    height: 80px;
    border-radius: 50%;
    background-color: #FFF4E7;
    margin-top: 10px;
    padding: 5px;
}
.client-name{
    color: #131313;
    font-weight: 700;
    font-size: 25px;
}
.client-company{
    color: #727272;
}
.client-testimonial{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: justify;
}
/* footer style  */
footer {
    width: 1440px;
    height: 100px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer-content p{
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    padding: 40px 410px;
}

/* Media Queries  */
@media only screen and (max-width:576px){
        html,body{
            overflow-x: hidden;
        }
        header{
            height: 1050px;
        }
        nav {
                display: flex;
                flex-direction: column;
                gap: 0px;
                align-items: center;
        }
        nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            padding-inline-start: 0px;
        }
        .banner-info {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
        }
        .banner-description{
            padding: 5px;
        }
        .banner-image img {
            width: 80%;
            display: block;
            height: 300px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
        .features-container{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        .feature-images {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 12px;
            padding: 10px;
        }
        .feature-list-title, .feature-list-description{
            width: 60%;
        }
        .feature-list .btn-primary {
            margin-top: 50px;
        }
        .feature-details-container{
            display: block;
            padding: 10px;
            margin-top: 25px;
        }
        .feature-detail-info-description {
            width: 100%;
            margin-top: 75px;
        }
        .feature-details{
            margin: 40px auto;
        }
        .feature-detail {
            width: 100%;
            height: 200px;
        }
        .feature-detail-description, .sponsor-info-description{
            width: 80%;
        }
        .feature-experience-image img {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .translate-btn {
            width: 93%;
            height: 150px;
            padding: 20px;
            translate: 5px 0px;
        }
        .facts-container{
            margin-top: 1000px;
        }
        .facts-info-title {
            padding: 10px;
        }
        .facts-info-description {
            width: 23%;
            margin-top: 12px;
            margin-bottom: 50px;
            padding: 10px;
        }
        .facts {
            display: flex;
            justify-content: center;
            gap: 85px;
            flex-direction: column;
            align-items: center;
        }
        .fact {
            width: 50%;
            height: 150px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sponsors {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        .client-review-title {
            width: 40%;
            text-align: center;
            padding: 10px;
        }
        .client-review-description {
            width: 38%;
            padding: 10px;
            text-align: justify;
        }
        .clients {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 10px;
            padding: 20px;
        }
        .client {
            width: 38%;
            height: auto;
            display: flex;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
            border-radius: 8px;
            margin-top: 30px;
        }
        .client-info{
            width: 50%;
        }
        .client-testimonial{
            text-align: left;
        }
        footer{
            width: 95%;
            margin-top: 130px;
            margin-bottom: 130px;
            margin-left: 10px;
            margin-right: 10px;           
        }
        .footer-content p{
            font-size: 10px;
            padding: 40px 40px;
            text-align: center;
        }
}
